body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif !important;
}

.app-container {
  .header-container {
    .bg-body-tertiary {
      background-color: #313131 !important;
    }
    .navbar-brand {
      margin-right: 20px !important;
      font-size: 23px;
      text-transform: uppercase;
      color: #c7cfdd;
      font-weight: 500;
    }
    .navbar-nav .nav-link {
      font-size: 20px;
      color: #c7cfdd;
    }
    .navbar-nav .nav-link:hover {
      color: white;
    }
    .navbar-nav .nav-link.active {
      color: #ffc107;
    }
  }
}
