body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif !important;
}

@media (min-width: 1800px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1800px;
  }
}

.app-container {
  .header-container {
    .btn-login {
      font-size: 18px;
      background-color: white;
      border: none;
      color: #000000;
      transition: 0.3s;
      font-weight: 500;
    }
    .btn-login:hover {
      color: #7f7f7f;
    }
    .btn-signup {
      font-size: 18px;
      margin-left: 15px;
      margin-right: 20px;
      width: 90px;
      height: 43px;
      border-radius: 10px;
      background-color: #000000;
      color: white;
      border: none;
      transition: 0.3s;
    }
    .btn-signup:hover {
      background-color: #373737;
    }

    .navbar {
    }
    .bg-body-tertiary {
      background-color: #ffffff !important;
      height: 70px;
      // z-index: 10;
    }
    .navbar-brand {
      margin-right: 20px !important;
      font-size: 23px;
      text-transform: uppercase;
      color: rgb(25, 25, 25);
      font-weight: 500;

      .logo-1 {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        p {
          padding: 0;
          margin: 0;
        }
      }
    }
    .navbar-nav {
      display: flex;
      align-items: center;
    }
    .navbar-nav .nav-link {
      font-size: 20px;
      color: rgb(25, 25, 25);
    }
    .navbar-nav .nav-link:hover {
      color: #7f7f7f;
    }
    .navbar-nav .nav-link.active {
      color: #ffc107;
    }
  }
}
