.dash-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  .bg-item {
    border-radius: 10px;
    width: 18%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 50px;
    padding: 0 50px;
  }
}
.content-container {
  width: 100%;
  height: 100%;
  padding: 10px 30px 30px 30px;

  .page-heading {
    font-size: 1.75rem;
    font-weight: 700;
    color: #25396f;
    margin-bottom: 32px;
  }

  .page-content {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .page-content-left {
      //   border: 1px solid rgb(198, 0, 0);
      width: 75%;
      .bg-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .bg-item1 {
          background-color: white;
          width: 270px;
          height: 130px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          .bg-avt {
            img {
              height: 30px;
              width: 30px;
            }

            &.user {
              background-color: #57caeb;
              height: 50px;
              width: 50px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &.quizz {
              background-color: #9694ff;
              height: 50px;
              width: 50px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &.question {
              background-color: #5ddab4;
              height: 50px;
              width: 50px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &.answer {
              background-color: #ff7976;
              height: 50px;
              width: 50px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .bg-text {
            margin-left: 30px;
            p {
              font-weight: 600;
              color: rgb(84, 84, 84);
              margin: 0;
              font-size: 18px;
            }
            p:last-child {
              color: #25396f;
              font-weight: 800;
              font-size: 16px;
            }
          }
        }
      }

      .bg-chart {
        // border: 1px solid rgb(198, 0, 0);
        margin-top: 20px;
        background-color: white;
        border-radius: 15px;
        padding: 24px;
        height: 590px;

        canvas {
          height: 490px !important;
        }

        .title-stats {
          font-size: 20px;
          font-weight: 700;
          color: #25396f;
          margin-bottom: 32px;
        }
      }
    }

    .page-content-right {
      //   border: 1px solid rgb(198, 0, 0);
      width: 23%;
      height: 110px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      border-radius: 15px;
      padding: 24px;
      .bg-avt {
        img {
          height: 60px;
          width: 60px;
        }
      }

      .bg-text {
        margin-left: 20px;
        p {
          font-weight: 700;
          color: #25396f;
          margin: 0;
          font-size: 20px;
        }
        p:last-child {
          color: rgb(84, 84, 84);
          font-size: 16px;
        }
      }
    }
  }
}
