.manage-user-container {
  width: 100%;
  // border: 1px solid red;
  padding: 30px 30px 30px 30px;
  display: flex;
  // align-items: center;
  justify-content: center;
  .title {
    // text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 700;
    color: #25396f;
  }
  p {
    color: rgba(96, 112, 128, 0.75);
  }

  .form-add-user {
    width: 35%;
  }
  .table-user {
    width: 65%;
    // display: flex;
    // justify-content: center;
  }
}
