.modal-body {
  text-align: center;
  height: 100%;
  width: 100%;
  .no-avt {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #83000d;
  }
}
.modal-title {
  font-size: 25px;
  font-weight: 700;
  color: #343a40;
  text-transform: uppercase;
}

.img {
  height: auto;
  width: 400px;
}
