// .modal-content {
//   padding: 20px;
// }

.card-container {
  width: 90%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 90vh;
}

.card {
  // width: 100%; /* Adjust the width as needed */
  background-color: white;
  border: none;
  border-radius: 10px;
  height: auto;
  padding: 10px; // margin-top: 40px;
  .card-content {
    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .card-header {
    background-color: white;
    border: none;

    .card-title {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      color: #343a40;
    }
  }

  .col-12 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bg-upload {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid gray;
    padding: 8px;
    width: auto;
    display: flex;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    border: none;
    align-items: center;
    transition: 0.3s;
    .upload {
      cursor: pointer;
      margin: 0;
      // margin-left: 8px;
      // font-weight: 500;
    }
  }

  .bg-upload:hover {
    background-color: rgb(220, 220, 220);
  }

  .img-preview {
    border-radius: 5px;
    // margin-left: 8px;
    margin-bottom: 15px;
    border: 1px dashed rgb(195, 195, 195);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    overflow: hidden;
    width: 96%;
    margin: auto;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .btn-save {
    color: white;
    background-color: #0dcaf0;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.3s;
    &:hover {
      background-color: #0cb7d9;
    }
  }
  .btn-cancel {
    width: 100px;
    color: #181e24;
    background-color: #e6eaee;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    &:hover {
      background-color: #dce0e4;
    }
  }

  .btn-update {
    color: white;
    background-color: #61c941;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.3s;
    &:hover {
      background-color: #249c00;
    }
  }

  .form-control {
    margin-top: 10px;
    // border: 1px solid rgb(228, 228, 228);
    &:focus {
      border: 1px solid #6cd1ec;
      box-shadow: 0 0 8px #67d0ec;
      outline: none;
    }
  }
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 20px;
}
