.admin-container {
  display: flex;
  .admin-sidebar {
  }

  .admin-content {
    width: 100%;
    background-color: #F2F7FF;
    .admin-header {
      // height: 20px;
      // border: 1px solid red;
    }

    // .admin-main {
    //   // height: 100px;
    //   border: 1px solid rgb(15, 195, 39);
    // }
  }
}
