.admin-container {
  display: flex;
  .admin-sidebar {
  }

  .admin-content {
    width: 100%;
    background-color: #f2f7ff;
    .admin-header {
      // height: 20px;
      // border: 1px solid red;
    }

    .admin-main {
      height: 100%;
      display: flex;
      // align-items: center;
    }
  }
}
