.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  height: 100vh;
  background-color: white;
  // border-right: 2px solid #e9e9e9;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 2px solid rgba(210, 210, 210, 0.2);
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-bottom: 2px solid rgba(210, 210, 210, 0.2);
}

.pro-sidebar {
  width: auto;
}

.sidebar-btn-wrapper .sidebar-btn span {
  font-size: 15px !important;
}
.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar-btn {
    transition: width 0.3s;
    width: 150px;
    padding: 1px 15px;
    border-radius: 40px;
    background: linear-gradient(
      45deg,
      rgb(21, 87, 205) 0%,
      rgb(90, 225, 255) 100%
    );
    color: rgb(241, 241, 241);
    font-size: 20px !important;
    padding: 0;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;

    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    span {
      margin-left: 5px;
      font-size: 13px;
    }
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  font-size: 18px;
  color: rgb(96, 116, 137);
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: transparent;
}
.pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper
  .pro-icon {
  background-color: transparent;
}
.pro-sidebar .pro-menu {
  //   height: 70px;
  transition: 0.3s;
  padding: 0;
}
.pro-sidebar .pro-menu:last-child {
  padding-bottom: 0;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: white;
  padding-right: 24px;
}

.pro-sidebar > .pro-sidebar-inner {
  background-color: white;
}

.pro-sidebar .pro-menu-item {
  color: #333;

  &:hover {
    background-color: #fafafa;
    color: #8fe8fa;
  }

  &.active {
    background-color: #cef4fc;
    color: white;

    .pro-icon-wrapper {
      color: white;
    }
  }
}

.custom-menu-item {
  color: #333;
  transition: 0.3s;
  &:hover {
    background-color: #fafafa;
  }

  &.active {
    background-color: #cef4fc;
    border-right: 3px solid #8fe8fa;
    box-shadow: 0 0 8px #c3ecf7;
  }
}

.pro-sidebar-content {
  position: relative;
  // border: 1px solid red;
}

.bg-logout {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid rgba(173, 173, 173, 0.2);
  span {
    color: rgb(255 116 116) !important;
    font-weight: 600;
  }
  // border: 1px solid rgb(0, 255, 183);
}
